* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-dark: #222;
  --body-light: #fff;
  --text-dark: #fff;
  --text-light: black;
  --font-sm: 0.8rem;
  --font-big: 2rem;
  --font-large: 3rem;
}

html, body { width: 100%; min-height: 100%; }

.flex { display: flex!important; }
.iflex { display: inline-flex!important; }
.grid { display: grid!important; }
.igrid { display: inline-grid!important; }

.fixed { position: fixed; }
.sticky { position: sticky; }
.absolute { position: absolute; }

.no-border { border: none; }
.circle { border-radius: 50%; }
[hidden], .hidden { display: none!important; }