@import url(default.css);
* { font: 1em Fredoka; }

html:root {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overflow: clip;
  background-color: var(--body-light);
  color: var(--text-light);
}

body.dark {
  background-color: var(--body-dark);
  color: var(--text-dark);
}

::-webkit-scrollbar { width: 0.625rem; background: #161616; border-radius: 0.375rem;}
::-webkit-scrollbar-thumb { background: #0f0f0f; border-radius: 0.375rem; }
::-webkit-scrollbar-corner { background: transparent; }

#header {
  width: 100%;
  height: 5rem;
  font-size: var(--font-large);
  padding: 1rem 1.5rem;
  background: var(--body-light);
  box-shadow: 0 0.25rem 0.5rem #333;
  top: -4.5rem;
  z-index: 1;
  transition: 0.5s;
}

#header.stay {
  top: 0 !important;
  transition: 1s;
}

header#header>#banner { align-items: center; height: 100%; }

body.dark header#header {
  background: var(--body-dark);
  box-shadow: 0 0.25rem 0.5rem #000;
}

#version {
  font-size: 1rem;
  position: relative;
  top: -0.875rem;
  left: 6rem;
}

#header:not(.stay)>#version { display: none; }

#game {
  z-index: -1;
}

img#logo[src] {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}